<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
            .success {
                color: green;
            }
        </style>
    </head>
<body>
<header>
    {% if 'username' in session %}
    <a href="/">Home</a> | <a href="/blog">Blog posts</a> | <a href="/newpost">Make a new post</a>
    <div style='float: right'>
        {{ session['username'] }}
        <form action="/logout" method="post" id='logout'>
            <input type="submit" value="Log Out" />
        </form>
    {% else %}
    <a href="/">Home</a> | <a href="/blog">Blog posts</a> | <a href="/login">Login</a> | <a href="/signup">Register</a>
    {% endif %}
</header>
<main>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
            <br>
            <strong class="{{category}}">{{message}}</strong>
        {% endfor %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</main>
</body>
</html>